.fun-settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

#light .fun-settings-page {
    color: var(--dark-gray);
}

#dark .fun-settings-page {
    color: var(--white);
}

.fun-settings-page>h2 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 40px;
    transition: all 1s ease-in-out;
}

.cursor-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 380px;
}

.cursor-preview {
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    transition: all 1s ease-in-out;
    border: 2px solid #00000000;
}

#light .cursor-preview:hover {
    background-color: var(--light-blue);
    transition: all .3s ease-in-out;
}

#dark .cursor-preview:hover {
    background-color: var(--dark-purple);
    transition: all .3s ease-in-out;
}

#dark .selected-cursor {
    border: 2px solid var(--light-purple);
}

#light .selected-cursor {
    border: 2px solid var(--dark-blue);
}

.theme-options {
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.theme-options>h3 {
    border-radius: 10px;
    padding: 8px;
    transition: all 1s ease-in-out;
    border: 2px solid #00000000
}

#light .theme-options>h3:hover {
    background-color: var(--light-blue);
    transition: all .3s ease-in-out;
}

#dark .theme-options>h3:hover {
    background-color: var(--dark-purple);
    transition: all .3s ease-in-out;
}

#dark .selected-theme {
    border: 2px solid var(--light-purple);
}

#light .selected-theme {
    border: 2px solid var(--dark-blue);
}

.spice-options {
    display: flex;
    gap: 20px;
    font-size: 22px;
}

.spice-options>h3 {
    border-radius: 5px;
    padding: 5px;
    transition: all 1s ease-in-out;
}

.spice-options>h3:hover {
    background-color: #91919177;
    transition: all .3s ease-in-out;
}

/* CURSORS - LIGHT */
.cursor-bug-light {
    cursor: url("../../media/cursors/bug-light.png") 15 15, crosshair;
}

.cursor-bullseye-light {
    cursor: url("../../media/cursors/bullseye-light.png") 15 15, crosshair;
}

.cursor-circle-light {
    cursor: url("../../media/cursors/circle-light.png") 15 15, crosshair;
}

.cursor-classic-light {
    cursor: url("../../media/cursors/classic-light.png") 15 15, crosshair;
}

.cursor-crosshairs-light {
    cursor: url("../../media/cursors/crosshairs-light.png") 15 15, crosshair;
}

.cursor-fire-light {
    cursor: url("../../media/cursors/fire-light.png") 15 15, crosshair;
}

.cursor-heart-light {
    cursor: url("../../media/cursors/heart-light.png") 15 15, crosshair;
}

.cursor-location-light {
    cursor: url("../../media/cursors/location-light.png") 15 15, crosshair;
}

.cursor-mouse-light {
    cursor: url("../../media/cursors/mouse-light.png") 15 15, crosshair;
}

.cursor-republic-light {
    cursor: url("../../media/cursors/republic-light.png") 15 15, crosshair;
}

.cursor-smile-light {
    cursor: url("../../media/cursors/smile-light.png") 15 15, crosshair;
}

.cursor-square-light {
    cursor: url("../../media/cursors/square-light.png") 15 15, crosshair;
}

.cursor-star-light {
    cursor: url("../../media/cursors/star-light.png") 15 15, crosshair;
}

.cursor-wand-light {
    cursor: url("../../media/cursors/wand-light.png") 15 15, crosshair;
}

/* CURSORS - DARK */
.cursor-bug-dark {
    cursor: url("../../media/cursors/bug-dark.png") 15 15, crosshair;
}

.cursor-bullseye-dark {
    cursor: url("../../media/cursors/bullseye-dark.png") 15 15, crosshair;
}

.cursor-circle-dark {
    cursor: url("../../media/cursors/circle-dark.png") 15 15, crosshair;
}

.cursor-classic-dark {
    cursor: url("../../media/cursors/classic-dark.png") 15 15, crosshair;
}

.cursor-crosshairs-dark {
    cursor: url("../../media/cursors/crosshairs-dark.png") 15 15, crosshair;
}

.cursor-fire-dark {
    cursor: url("../../media/cursors/fire-dark.png") 15 15, crosshair;
}

.cursor-heart-dark {
    cursor: url("../../media/cursors/heart-dark.png") 15 15, crosshair;
}

.cursor-location-dark {
    cursor: url("../../media/cursors/location-dark.png") 15 15, crosshair;
}

.cursor-mouse-dark {
    cursor: url("../../media/cursors/mouse-dark.png") 15 15, crosshair;
}

.cursor-republic-dark {
    cursor: url("../../media/cursors/republic-dark.png") 15 15, crosshair;
}

.cursor-smile-dark {
    cursor: url("../../media/cursors/smile-dark.png") 15 15, crosshair;
}

.cursor-square-dark {
    cursor: url("../../media/cursors/square-dark.png") 15 15, crosshair;
}

.cursor-star-dark {
    cursor: url("../../media/cursors/star-dark.png") 15 15, crosshair;
}

.cursor-wand-dark {
    cursor: url("../../media/cursors/wand-dark.png") 15 15, crosshair;
}