.word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3vw;
}

.letter {
    height: 7vh;
    width: 4.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
    overflow: hidden;
    filter: invert();
}

.letter:hover {
    width: 6vw;
}

.letter>img {
    height: 120%;
}