.word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3vw;
}

.letter {
    height: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s linear;
    overflow: hidden;
}

.letter:hover {
    width: 5.5vw;
    transition: all 0.15s linear;
}

.size-1 {
    width: 2.5vw;
}

.size-2 {
    width: 3.5vw;
}

.size-3 {
    width: 4vw;
}

.size-4 {
    width: 4.2vw;
}

.letter>img {
    height: 120%;
}