.reach-out-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 30vw;
}

#light .reach-out-page {
    color: var(--dark-gray);
}

#dark .reach-out-page {
    color: var(--white);
}

.reach-out-page>h2 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

.reach-out-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reach-out-form>input {
    font-size: 22px;
    width: 100%;
    margin-top: 20px;
    border: none;
}

#light .reach-out-form>input {
    color: var(--dark-gray);
}

#dark .reach-out-form>input {
    color: #ffffff;
    background-color: var(--dark-gray);
}

.reach-out-form>textarea {
    font-size: 22px;
    width: 100%;
    margin-top: 20px;
    border: none;
}

#light .reach-out-form>textarea {
    color: var(--dark-gray);
}

#dark .reach-out-form>textarea {
    color: var(--white);
    background-color: var(--dark-gray);
}

.reach-out-button {
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border: none;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

#light .reach-out-button {
    color: var(--white);
    background-color: var(--dark-gray);
}

#dark .reach-out-button {
    color: var(--dark-gray);
    background-color: var(--white);
}

#light .reach-out-button:disabled {
    color: #8c8c8c;
    background-color: #cccccc;
}

#dark .reach-out-button:disabled {
    color: #8c8c8c;
    background-color: #cccccc;
}

.reach-out-button:hover {
    transition: all .3s ease-in-out;
}

#light .reach-out-button:hover:enabled {
    color: var(--dark-gray);
    background-color: var(--white);
}

#dark .reach-out-button:hover:enabled {
    color: var(--white);
    background-color: var(--dark-gray);
}

.reach-out-button-sent {
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border: none;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    color: white;
    background-color: rgb(42, 109, 42);
}

.contact-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.contact-icons>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

#light .reach-out-email {
    color: var(--dark-gray);
}

#dark .reach-out-email {
    color: var(--white);
}

#light .reach-out-email:hover {
    color: var(--light-purple);
}

#dark .reach-out-email:hover {
    color: var(--dark-purple);
}