.project-index {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.projects-list>a {
    text-decoration: none;
}

.projects-list>h2 {
    font-size: 54px;
    color: #45454500;
    padding-left: 10px;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #454545;
}

.project-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.project-title {
    font-size: 32px;
    color: #454545;
    padding-left: 10px;
}

.project-title:hover {
    color: #45454500;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #454545;
}

.project-image-container {
    position: relative;
    width: 45vw;
    height: 25.3125vw;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action {
    font-size: 64px;
    color: #454545;
    position: absolute;
    text-align: center;
    z-index: 20;
    top: 11vw;
    right: 14.5vw;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.project-image-container:hover .call-to-action {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.white-cover {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    z-index: 15;
    transition: all .5s ease-in-out;
}

.project-image-container:hover .white-cover {
    background-color: #ffffff96;
    transition: all .5s ease-in-out;
}

.project-preview-idle {
    position: absolute;
    width: 45vw;
    height: 25.3125vw;
    scale: 1.2;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.project-preview-active {
    position: absolute;
    width: 45vw;
    height: 25.3125vw;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projects-list>hr {
    border: none;
    width: 25vw;
    height: 1px;
    background-color: #454545;
}