.project-index {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.projects-list>a {
    text-decoration: none;
}

.projects-list>h2 {
    font-family: 'Climate Crisis', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    color: #00000000;
    padding-left: 10px;
    -webkit-text-stroke-width: .2px;
}

#light .projects-list>h2 {
    -webkit-text-stroke-color: var(--dark-gray);
}

#dark .projects-list>h2 {
    -webkit-text-stroke-color: var(--white);
}

.project-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s ease-in-out;
}

.project-line:hover {
    padding-bottom: calc(25.3125vw - 221px);
    transition: all 1s ease-in-out;
}

.project-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
    padding-left: 10px;
}

#light .project-title {
    color: var(--dark-gray);
}

#dark .project-title {
    color: var(--white);
}

.project-title:hover {
    color: #00000000;
    -webkit-text-stroke-width: .2px;
}

#light .project-title:hover {
    -webkit-text-stroke-color: var(--dark-gray);
}

#dark .project-title:hover {
    -webkit-text-stroke-color: var(--white);
}

.project-description {
    width: 90%;
    position: absolute;
    top: 60px;
    padding-left: 10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#light .project-description {
    color: var(--dark-gray);
}

#dark .project-description {
    color: var(--white);
}

.project-line:hover .project-description {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.project-description>p {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0;
}

.project-preview-logo {
    width: 150px;
    padding-top: 20px;
}

.project-image-container {
    position: relative;
    width: 45vw;
    height: 25.3125vw;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#light .project-image-container {
    box-shadow: 0px 0px 10px 1px #b9b9b9;
}

#dark .project-image-container {
    box-shadow: 0px 0px 10px 1px #5e5e5e;
}

.call-to-action {
    font-size: 64px;
    position: absolute;
    text-align: center;
    z-index: 20;
    top: 11vw;
    right: 14.5vw;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#light .call-to-action {
    color: var(--dark-gray);
}

#dark .call-to-action {
    color: var(--white);
}

.project-image-container:hover .call-to-action {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.white-cover {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    z-index: 15;
    transition: all .5s ease-in-out;
}

.project-image-container:hover .white-cover {
    transition: all .5s ease-in-out;
}

#light .project-image-container:hover .white-cover {
    background-color: #ffffff91;
}

#dark .project-image-container:hover .white-cover {
    background-color: #00000091;
}

.project-preview-idle {
    position: absolute;
    width: 45vw;
    height: 25.3125vw;
    scale: 1.2;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.project-preview-active {
    position: absolute;
    width: 45vw;
    height: 25.3125vw;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projects-list>hr {
    border: none;
    width: 25vw;
    height: 1px;
}

#light .projects-list>hr {
    background-color: var(--dark-gray);
}

#dark .projects-list>hr {
    background-color: var(--white);
}