.project-index {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.projects-list>a {
    text-decoration: none;
}

.projects-list>h2 {
    font-family: 'Climate Crisis', sans-serif;
    font-size: 42px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #00000000;
    padding-left: 10px;
    -webkit-text-stroke-width: .1px;
}

#light .projects-list>h2 {
    -webkit-text-stroke-color: var(--dark-gray);
}

#dark .projects-list>h2 {
    -webkit-text-stroke-color: var(--white);
}

/* PROJECT LINE */

.project-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s ease-in-out;
}

.project-line:hover {
    padding-bottom: calc(25.3125vw - 221px);
}

.active-project-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: calc(25.3125vw - 221px);
    transition: all 1s ease-in-out;
}

/* END PROJECT LINE */

.project-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 900;
    padding-left: 10px;
}

#light .project-title {
    color: var(--dark-gray);
}

#dark .project-title {
    color: var(--white);
}

.project-title:hover {
    color: #00000000;
    -webkit-text-stroke-width: .2px;
}

#light .project-title:hover {
    -webkit-text-stroke-color: var(--dark-gray);
}

#dark .project-title:hover {
    -webkit-text-stroke-color: var(--white);
}

/* PROJECT DESCRIPTION */

.project-description {
    width: 90%;
    position: absolute;
    top: 60px;
    padding-left: 10px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active-project-description {
    width: 90%;
    position: absolute;
    top: 60px;
    padding-left: 10px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#light .project-description,
#light .active-project-description {
    color: var(--dark-gray);
}

#dark .project-description,
#dark .active-project-description {
    color: var(--white);
}

.project-line:hover .project-description {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.active-project-description>p,
.project-description>p {
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 40px;
}

/* END PROJECT DESCRIPTION */

.live-project-link {
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#light .live-project-link {
    color: var(--dark-gray);
}

#dark .live-project-link {
    color: var(--white);
}

.project-preview-logo {
    width: 150px;
    padding-top: 20px;
}

.project-image-container {
    position: relative;
    width: 45vw;
    height: 25.3125vw;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#light .project-image-container {
    box-shadow: 0px 0px 10px 1px #b9b9b9;
}

#dark .project-image-container {
    box-shadow: 0px 0px 10px 1px #5e5e5e;
}

.call-to-action {
    font-size: 42px;
    font-weight: 900;
    position: absolute;
    text-align: center;
    z-index: 20;
    top: 11vw;
    right: 13vw;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#light .call-to-action {
    color: var(--dark-gray);
}

#dark .call-to-action {
    color: var(--white);
}

.project-image-container:hover .call-to-action {
    opacity: 1;
    transition: all .5s ease-in-out;
}

.white-cover {
    width: 100%;
    height: 100%;
    background-color: #ffffff00;
    z-index: 15;
    transition: all .5s ease-in-out;
}

.project-image-container:hover .white-cover {
    transition: all .5s ease-in-out;
}

#light .project-image-container:hover .white-cover {
    background-color: #ffffff91;
}

#dark .project-image-container:hover .white-cover {
    background-color: #00000091;
}

.project-preview-idle {
    position: absolute;
    width: 45vw;
    height: 25.3125vw;
    scale: 1.2;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.project-preview-active {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.projects-list>hr {
    border: none;
    width: 25vw;
    height: 1px;
}

#light .projects-list>hr {
    background-color: var(--dark-gray);
}

#dark .projects-list>hr {
    background-color: var(--white);
}

.website-button {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: none;
    transition: all .3s ease-in-out;
}

#light .website-button {
    color: var(--white);
    background-color: var(--light-blue);
}

#dark .website-button {
    color: var(--dark-gray);
    background-color: var(--light-blue);
}

#light .website-button:hover {
    background-color: var(--dark-blue);
}

#dark .website-button {
    background-color: var(--dark-blue);
}

/* iPad Pro and Small Screens */
@media (max-width: 1024px) {
    .project-index {
        flex-direction: column;
        align-items: flex-end;
    }

    .project-image-container {
        width: 70vw;
        height: 39.375vw;
    }

    .projects-list>hr {
        width: 70vw;
    }

    .project-line:hover {
        padding-bottom: calc(150px);
    }

    .active-project-line {
        padding-bottom: calc(150px);
    }

    .project-description {
        top: 40px;
    }

    .active-project-description {
        top: 40px;
    }

    .active-project-description>p,
    .project-description>p {
        padding-top: 20px;
        padding-bottom: 30px;
    }
}

/* iPads and Tablets */
@media (max-width: 768px) {}

/* iPhones and Phones */
@media (max-width: 480px) {}