.critique-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 30vw;
}

#light .critique-page {
    color: var(--dark-gray);
}

#dark .critique-page {
    color: var(--white);
}

.critique-page>h2 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.critique-project-logos {
    display: flex;
    gap:10px;
    padding: 20px;
}

.critique-project-logo {
    width: 150px;
    align-self: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

#light .critique-project-logo:hover {
    background-color: var(--light-blue);
}

#dark .critique-project-logo:hover {
    background-color: var(--dark-blue);
}

#light .selected-critique-project {
    background-color: var(--light-purple);
}

#dark .selected-critique-project {
    background-color: var(--dark-purple);
}

.critique-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.critique-form>label {
    font-size: 26px;
    margin-top: 20px;
}

.critique-form>select {
    font-size: 22px;
    width: 100%;
    border: none;
}

#light .critique-form>select {
    color: var(--dark-gray);
}

#dark .critique-form>select {
    color: var(--white);
    background-color: var(--dark-gray);
}

.critique-form>textarea {
    font-size: 22px;
    width: 100%;
    margin-top: 20px;
    border: none;
}

#light .critique-form>textarea {
    color: var(--dark-gray);
}

#dark .critique-form>textarea {
    color: var(--white);
    background-color: var(--dark-gray);
}

.critique-button {
    text-transform: uppercase;
    font-weight: 900;
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border: none;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

#light .critique-button {
    color: var(--dark-gray);
    background-color: var(--light-blue);
}

#dark .critique-button {
    color: var(--dark-gray);
    background-color: var(--light-blue);
}

#light .critique-button:disabled {
    color: #8c8c8c;
    background-color: #cccccc;
}

#dark .critique-button:disabled {
    color: #8c8c8c;
    background-color: #cccccc;
}

#light .critique-button:hover:enabled {
    color: var(--white);
    background-color: var(--dark-blue);
    transition: all .3s ease-in-out;
}

#dark .critique-button:hover:enabled {
    color: var(--white);
    background-color: var(--dark-blue);
    transition: all .3s ease-in-out;
}

.critique-button-sent {
    padding: 10px;
    width: 100%;
    font-size: 22px;
    border: none;
    margin-top: 20px;
    transition: all .3s ease-in-out;
    color: white;
    background-color: rgb(42, 109, 42);
}