.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav-link {
    color: #454545;
    font-size: 38px;
    text-decoration: none;
}

.nav-link:hover {
    color: #45454500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #454545;
}