.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.nav-link {
    font-size: 38px;
    text-decoration: none;
}

#light .nav-link {
    color: var(--dark-gray);
}

#dark .nav-link {
    color: var(--white);
}

#light .nav-link:hover {
    color: #00000000;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--dark-gray);
}

#dark .nav-link:hover {
    color: #00000000;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: var(--white);
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-sub-alink {
    position: relative;
    color: #00000000;
    text-decoration: none;
    transition: color 1s ease-in-out;
    transition-delay: 1s;
    transition-property: color;
}

.nav-sub-links {
    position: absolute;
    top: 90px;
    display: flex;
    gap: 20px;
    font-size: 28px;
    color: #00000000;
    transition: color 1s ease-in-out;
    transition-delay: 1s;
    transition-property: color;
}

.nav-item:hover .nav-sub-links {
    transition: color .5s ease-in-out;
}

#light .nav-item:hover .nav-sub-links {
    color: var(--dark-gray);
}

#dark .nav-item:hover .nav-sub-links {
    color: var(--white);
}

.nav-item:hover .nav-sub-alink {
    transition: color .5s ease-in-out;
}

#light .nav-item:hover .nav-sub-alink {
    color: var(--dark-gray);
}

#dark .nav-item:hover .nav-sub-alink {
    color: var(--white);
}

.nav-sub-link {
    position: relative;
}

.white-bg {
    position: absolute;
    z-index: -1;
    bottom: 8px;
    width: 100%;
    height: 0px;
    transition: height .5s ease-in-out;
}

#light .white-bg {
    background-color: var(--white);
}

#dark .white-bg {
    background-color: var(--dark-gray);
}

.nav-sub-link:hover,
.nav-sub-alink:hover {
    text-decoration: underline;
}

.nav-sub-link:hover .white-bg,
.nav-sub-alink:hover .white-bg {
    height: 10px;
    transition: height .5s ease-in-out;
}