.footer-icons {
    display: flex;
    gap: 30px;
    margin-top: auto;
    padding: 20px 0;
}

.footer-icons>a>i {
    font-size: 42px;
}

#light .footer-icons>a>i {
    color: var(--dark-gray);
}

#dark .footer-icons>a>i {
    color: var(--white);
}

#light .footer-icons>a>i:hover {
    color: var(--light-blue);
}

#dark .footer-icons>a>i:hover {
    color: var(--dark-purple);
}