.site-settings {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 42px;
}

#light .site-settings>i {
    color: var(--dark-gray);
}

#dark .site-settings>i {
    color: var(--white);
}

#light .site-settings>i:hover {
    color: var(--light-blue);
}

#dark .site-settings>i:hover {
    color: var(--dark-purple);
}

.footer-icons {
    display: flex;
    gap: 30px;
    margin-top: auto;
    padding: 20px 0;
    font-size: 42px;
}

#light .footer-icons>a>i {
    color: var(--dark-gray);
}

#dark .footer-icons>a>i {
    color: var(--white);
}

#light .footer-icons>a>i:hover {
    color: var(--light-blue);
}

#dark .footer-icons>a>i:hover {
    color: var(--dark-purple);
}

.mobile-nav-bars {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 42px;
    z-index: 11;
}

#light .mobile-nav-bars>i {
    color: var(--dark-gray);
}

#dark .mobile-nav-bars>i {
    color: var(--white);
}

.mobile-menu-bg,
.mobile-menu-bg-hidden {
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20vh;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}

.mobile-menu-bg-hidden {
    left: 100vw;
    opacity: 0.5;
}

#light .mobile-menu-bg,
#light .mobile-menu-bg-hidden {
    background-color: var(--light-gray);
}

#dark .mobile-menu-bg,
#dark .mobile-menu-bg-hidden {
    background-color: var(--dark-gray);
}


/* iPad Pro and Small Screens */
@media (max-width: 1024px) {}

/* iPads and Tablets */
@media (max-width: 768px) {}

/* iPhones and Phones */
@media (max-width: 480px) {
    .mobile-nav-bars {
        display: block;
    }

    .footer-icons {
        display: flex;
        gap: 20px;
        margin-top: auto;
        padding: 30px 0;
        font-size: 28px;
    }
}