@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

a:hover {
    cursor: url("./media/cursors/circle-dark.png") 15 15, crosshair;
}

.page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
}

.pre {
    position: absolute;
    top: -60vh;
    scale: .8;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    position: absolute;
    top: 150px;
    scale: 1;
    opacity: 1;
    transition: all 1.3s ease-out;
}

.post {
    position: absolute;
    top: 300px;
    scale: 1.5;
    opacity: 0;
    transition: all 1s ease-in;
}