@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

:root {
    --dark-gray: #454545;
    --dark-blue: #314259;
    --light-blue: #B8C6D9;
    --dark-purple: #574470;
    --light-purple: #E3DAF0;
    --light-gray: #E9EDF2;
    --white: #ffffff;
}

.page {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-page {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 82px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#light .loading-page {
    color: var(--light-blue);
    background-color: var(--light-gray);
}

#dark .loading-page {
    color: var(--light-blue);
    background-color: var(--dark-gray);
}

.loading-page-hidden {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 82px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.loading-page-disabled {
    display: none;
}

.error {
    font-size: 22px;
    color: red;
    margin-top: 10px;
}

.background-video-visible {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.background-video-hidden {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -100;
    background-size: cover;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.pre {
    position: absolute;
    top: -60vh;
    scale: .8;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.active {
    position: absolute;
    top: 150px;
    scale: 1;
    opacity: 1;
    transition: all 1.3s ease-out;
}

.post {
    position: absolute;
    top: 300px;
    scale: 1.5;
    opacity: 0;
    transition: all 1s ease-in;
}